<!-- File name: detail.ejs -->
<!-- Author's name: Pui In Kwok, Mo Zou, Yang Li -->
<!-- Web site name: final project -->
<!-- File description: This is survey detail page, if user is the one who create the survey, then
                       show the survey detail with collection answers, else show answer form for 
                       the survey -->

<!-- include header -->
<% include ../partials/header.ejs %>
<main class="container">
    <h1><%= title %></h1>
    <!-- if user is the one who create the survey -->
    <% if (username == survey.username) { %>
        <!-- set the size -->
        <div class="col-sm-4">
            <form method="post">
                <div class="bg-default">
                    <fieldset class="form-group">
                        <label for="survey_id">Survey ID : </label>
                        <input name="survey_id" type="text" class="form-control" value="<%= survey.survey_id %>" readonly />
                    </fieldset>
                    
                    <fieldset class="form-group">
                        <label for="survey_title">Survey Title : </label>
                        <input name="survey_title" type="text" class="form-control" value="<%= survey.survey_title %>" readonly />
                    </fieldset>
        
                    <fieldset class="form-group">
                        <label for="survey_questionOne">Question 1 : </label>
                        <input name="survey_questionOne" type="text" class="form-control" value="<%= survey.survey_questionOne %>" readonly />
                    </fieldset>
                    
                    <% if(answer.length > 0){ %>
                    <table class="table table-bordered  table-hover">
                            <thead>
                                <tr>
                                    <th>Answer other chose for Question 1</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var i = 0; i < answer.length; i++){ %>
                                    <% if(answer[i].survey_id == survey.survey_id){ %>
                                        <tr>
                                            <td>
                                                <%= answer[i].survey_questionOneAns %>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            </tbody>
                        </table>
                    <% } %>
                    
                    <fieldset class="form-group">
                        <label for="survey_questionTwo">Question 2 : </label>
                        <input name="survey_questionTwo" type="text" class="form-control" value="<%= survey.survey_questionTwo %>" readonly />
                    </fieldset>

                    <% if(answer.length > 0){ %>
                    <table class="table table-bordered  table-hover">
                            <thead>
                                <tr>
                                    <th>Answer other chose for Question 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var i = 0; i < answer.length; i++){ %>
                                    <% if(answer[i].survey_id == survey.survey_id){ %>
                                        <tr>
                                            <td>
                                                <%= answer[i].survey_questionTwoAns %>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            </tbody>
                        </table>
                    <% } %>
                    
                    <fieldset class="form-group">
                        <label for="created">Create At : </label>
                        <% var date = new Date(survey.created);
                        var dateString = date.toDateString() + " " + date.toLocaleTimeString(); %>
                        <input name="created" type="text" class="form-control" value="<%= dateString %>" readonly />
                    </fieldset>
                    
                    <fieldset class="form-group text-right">
                        <a href="/survey" title="Cancel"  class="btn btn-default">
                            <i class="fa fa-undo"></i> Cancel
                        </a>
                    </fieldset>
                </div>
            </form>
        </div>
    <% } else { %>
    <!-- show the answer form -->
        <!-- set the size -->
        <div class="col-sm-4">
			<form method="post">
                <div class="bg-default">
                    <fieldset class="form-group">
                        <label for="survey_id">Survey ID : </label>
                        <input name="survey_id" type="text" class="form-control" value="<%= survey.survey_id %>" readonly />
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="survey_title">Survey Title : </label>
                        <input name="survey_title" type="text" class="form-control" value="<%= survey.survey_title %>" readonly />
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="survey_questionOne">Question 1 : </label>
                        <input name="survey_questionOne" type="text" class="form-control" value="<%= survey.survey_questionOne %>" readonly />
                    </fieldset>
                    
                    <% if(survey.survey_questionOne_template == "mc"){ %>
                        <fieldset class="form-group">
                            <input name="survey_questionOneAns" type="radio" value="<%= survey.survey_questionOneAnsA %>" required/> <%= survey.survey_questionOneAnsA %>
                            <br />
                            <input name="survey_questionOneAns" type="radio" value="<%= survey.survey_questionOneAnsB %>" /> <%= survey.survey_questionOneAnsB %>
                            <br />
                            <input name="survey_questionOneAns" type="radio" value="<%= survey.survey_questionOneAnsC %>" /> <%= survey.survey_questionOneAnsC %>
                            <br />
                            <input name="survey_questionOneAns" type="radio" value="<%= survey.survey_questionOneAnsD %>" /> <%= survey.survey_questionOneAnsD %>
                        </fieldset>
                    <% } else if(survey.survey_questionOne_template == "aORdisa"){ %>
                        <fieldset class="form-group">
                            <input name="survey_questionOneAns" type="radio" value="agree" required/> Agree
                            <input name="survey_questionOneAns" type="radio" value="disagree" /> Disagree
                        </fieldset>
                    <% } else { %>
                        <fieldset class="form-group">
                            <textarea name="survey_questionOneAns" class="form-control" row="4" col="10" required></textarea>
                        </fieldset>
                    <% } %>
    
                    <fieldset class="form-group">
                        <label for="survey_questionTwo">Question 2 : </label>
                        <input name="survey_questionTwo" type="text" class="form-control" value="<%= survey.survey_questionTwo %>" readonly />
                    </fieldset>
                    <fieldset class="form-group">
    
                    <% if(survey.survey_questionTwo_template == "mc"){ %>
                        <fieldset class="form-group">
                            <input name="survey_questionTwoAnsMC" type="radio" value="A" required/> <%= survey.survey_questionTwoAnsA %>
                            <br />
                            <input name="survey_questionTwoAnsMC" type="radio" value="B" /> <%= survey.survey_questionTwoAnsB %>
                            <br />
                            <input name="survey_questionTwoAnsMC" type="radio" value="C" /> <%= survey.survey_questionTwoAnsC %>
                            <br />
                            <input name="survey_questionTwoAnsMC" type="radio" value="D" /> <%= survey.survey_questionTwoAnsD %>
                        </fieldset>
                    <% } else if(survey.survey_questionTwo_template == "aORdisa"){ %>
                        <fieldset class="form-group">
                            <input name="survey_questionTwoAnsADIS" type="radio" value="agree" required/> Agree
                            <input name="survey_questionTwoAnsADIS" type="radio" value="disagree" /> Disagree
                        </fieldset>
                    <% } else { %>
                        <fieldset class="form-group">
                            <textarea name="survey_questionTwoAns" class="form-control" row="4" col="10" required></textarea>
                        </fieldset>
                    <% } %>
    
                    <fieldset class="form-group text-right">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-pencil fa-fw"></i> Submit</button>
                        <a href="/survey" title="Cancel"  class="btn btn-default">
                            <i class="fa fa-undo"></i> Cancel
                        </a>
                    </fieldset>
                </div>
			</form>
		</div>
    <% } %>
</main>
<!-- include footer -->
<% include ../partials/footer.ejs %>